# Default VS stuff
out/
build/
.vs/

# Release and Debug in root folder
/release/
/debug/

# Release and Debug in test project folder
/test_project/release/
/test_project/debug/

# Large files
*.pdb
*.obj
*.exp

# Misc
*.spv # Vulkan shader files
*.exe
*.ilk
*.log